body {color:#000000;background:#42454f;}
.head{width:1194px;height:76px;background:#fff;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;margin:0 auto;}
.logo{float:left;margin-left:30px;background: url('images/logo.png');width:246px;height:19px;
-webkit-transition-property: background;
-webkit-transition-duration: 0.5s;
-webkit-transition-timing-function: ease;}
.logo:hover{background: url('images/logoh.png');width:246px;height:19px;}
.topmenu{float:left;margin-left:30px;margin-top:10px;border-left:1px dotted #ccc;}

#footer-logos li {
display: inline;
}
#footer-logos a img {
opacity: 0.3;
}
#footer-logos a:hover img{opacity: 0.6;-webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;}

#slideout {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {opacity:1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout:hover {
  left: 250px;
}
#slideout:hover #slideout_inner {
  left: 0;opacity:1.0;
}
